p{
	font-family:tahoma;
font-size:35;
font-style:italic;
font-weight:bolder;
text-align:justify;
}
h1{
	font-family:tahoma;
font-size:45;
font-style:italic;
font-weight:bolder;
text-align:center;
}